        <div class="container">
            &copy; 2022 - Neetechs_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
        <div class="container bootstrap snippets bootdey">
    <div class="alert alert-success alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <div class="icon">
            <i class="fa fa-check"></i>
        </div>
        <strong>Success!</strong> 
        Changes has been saved successfully!
    </div>
    <div class="alert alert-info alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <div class="icon">
            <i class="fa fa-info-circle"></i>
        </div>
        <strong>Success!</strong> 
        Changes has been saved successfully!
    </div>  
    <div class="alert alert-warning alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <div class="icon">
            <i class="fa fa-warning"></i>
        </div>
        <strong>Success!</strong> 
        Changes has been saved successfully!
    </div>     
    <div class="alert alert-danger alert-white rounded">
        <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
        <div class="icon">
            <i class="fa fa-times-circle"></i>
        </div>
        <strong>Success!</strong> 
        Changes has been saved successfully!
    </div>    
</div>