
<style>
.main {
    width: 100%;
/*    float: left;
*/ }

.leftSide,.col-12 {
/*    float: left;
     background: cyan;
 */   width: 280px!important;
    margin:0px;
}

.middleSide  {
     width:auto;
     margin:0px;
/*        background-color:sandybrown ;
 float: left;
    max-width: 780px;
    max-width: 780px;
    min-width:520px;
     min-width:20vw;
        max-width:60vw;
*/   

}
.middleSideContainer  {
    width:auto;
  

}
.rightSide,.col-32 {
/*    float: right;
*/     width: 280px!important;
    margin:0px;

    background-color: #eee;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;     
    white-space: nowrap;
    line-height: 60px;
}
nav{
    height: 56px;

}
.logo{
    width:40px;
    height:40px;
}
@@media screen and (max-width: 980px) {
    .leftSide {
        display:none;
    }
}
@@media screen and (max-width: 1200px) {
    .rightSide {
        display:none;
    }
}
</style>


<div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/logo.png" class="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">List Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Create">Dashboard(U_DEV)</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Create">Add Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Create">Add Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Create">Add Product</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="weather">weather</a>
                        </li>

                    </ul> 
      
                </div>

                   <form class="navbar-nav" data-ajax="true" data-ajax-method="get" 
                    data-ajax-update="#weather" data-ajax-mode="replace" 
                    data-ajax-url="@Url.Action("WeatherTask", "Weather")">
                        Search weather:
                        <input type="text" name="town"/>
                       <input type="submit" name="Search" />
                    </form>
                    <partial name="_LoginPartial" />

            </div>
