<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Neetechs_MVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Neetechs_MVC.styles.css" asp-append-version="true" />
<style>
.main {
    width: 100%;
    float: left;
}

.leftSide {
    float: left;
    background: cyan;
    width: 20%; 
}

.middleSide {
    float: left;
    width: 60%;
}

.rightSide {
    float: right;
    width: 20%;
    background-color: #eee;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;     
    white-space: nowrap;
    line-height: 60px;
}
</style>

</head>
<body>

    <header class="p-0" >
        <nav  class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
            <partial name="_Header" />
        </nav>
    </header>

     <main class="main">
          <aside class="leftSide">
                <partial name="_Sidebar" />
          </aside>
          <div class="middleSide container ">
                @RenderBody()
          </div>
          <aside class="rightSide border-right">
                <partial name="_SidebarRight" />
          </aside>
    </main>

    <footer class="border-top footer text-muted">
        <partial name="_Footer" />
    </footer>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
@*    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
*@    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready( function(){
            $.ajax({
                type:'GET',
                url:'/Weather/WeatherTask/',
                success:function(data){
                    $('#weather').html(data);
            }

        }) })
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
