<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Neetechs</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Neetechs_MVC.styles.css" asp-append-version="true" />
@*	  <script src='https://cdn.tiny.cloud/1/q7mmvesyzvp84xhdfqw24ecysg36uipj9foc2wjo6w3l4puh/tinymce/5/tinymce.min.js' referrerpolicy="origin">
  </script>*@
  <script>
    //tinymce.init({
    //  selector: '#mytextarea'
    //});
  </script>
	@* style *@
	<style>
		body {
			background: #f0cd89;
			/*    
			background: #f0cd89; 			
			background-color: #eee;
			background: #f1f2f7;
			6F8BA4
			#efbf79
			42b5d4=blue
			background:#eee;    
			*/
			color: #797979;
			font-family: 'Open Sans', sans-serif;
			padding: 0px !important;
			margin: 0px !important;
			font-size: 13px;
			text-rendering: optimizeLegibility;
			-webkit-font-smoothing: antialiased;
		}

		.main {
			width: 100%;
			/*    float: left;
				*/
		}

		.middleSide {
			width: auto;
			margin: 0px;
			/*
			position:auto;
			background-color:sandybrown ;
			float: left;
			max-width: 780px;
			max-width: 780px;
			min-width:520px;
			min-width:20vw;
			max-width:60vw;
		*/
		}

		.middleSideContainer {
			width: auto;
		}

		.rightSide {
			/*    float: right;
				*/
			width: 280px !important;
			margin: 0px;
			margin-right: -12px;
			position: -webkit-sticky;
			/* Safari */
			position: sticky;
			right: 0;
			background-color: #eee;
		}

		.leftSide {
			/*    float: left;
					 background: cyan;
				 */
			width: 280px !important;
			margin: 0px;
			position: sticky;
			left: 0px;
			top: 64px;
			background-color: #eee;
		}

		.footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			white-space: nowrap;
			line-height: 60px;
		}

		.logo {
			width: 40px;
			height: 40px;
		}

		.card {
			margin: 5px;
		}

		.star {
			color: red
		}

		@@media screen and (max-width: 980px) {
			.leftSide {
				display: none;
			}

			.middleSide {
				padding-left: 10px;
			}
		}

		@@media screen and (max-width: 1200px) {
			.rightSide {
				display: none;
			}
		}
	</style>

	@* letters style *@
	<style>
		a {
			text-decoration: none !important
		}

		a,
		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p,
		span {
			overflow-wrap: break-word;
		}

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-family: 'Montserrat', sans-serif;
			color: #002691;
			margin-top: 0px;
			font-style: normal;
			font-weight: bold;
		}
	</style>

	@* image style *@
	<style>
		.crical {
			position: absolute;
			background: #ff007a;
			right: -66px;
			bottom: -73px;
			font-size: 30px;
			color: #fff;
			width: 200px;
			height: 200px;
			border-radius: 50%;
			padding: 50px;
		}

		img {
			max-width: 100%;

		}
	</style>
	@* nav style *@
	<style>
		nav {
			position: -webkit-sticky;
			/* Safari */
			position: sticky;
			left: 0;
			top: 0;
			z-index: 10;
			height: 56px;
		}

		a.nav-item.nav-link.active:after {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 15px 15px 0;
			border-color: transparent #e7015e transparent transparent;
			position: absolute;
			left: 0;
			bottom: -15px;
			content: '';
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			border-color: transparent #ff007a transparent transparent;
		}

		a.nav-item.nav-link.active:after {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 15px 15px 0;
			border-color: transparent #e7015e transparent transparent;
			position: absolute;
			left: 0;
			bottom: -15px;
			content: '';
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			border-color: transparent #ff007a transparent transparent;
		}

		a.nav-item.nav-link.active {
			border: none;
			padding: 18px 25px;
			color: #47759d;
			border-radius: 0;
			background: #fff;
			position: relative;
			background: #f5faff;
		}

		.nav.nav-tabs {
			border: none;
			color: #fff;
			border-radius: 0;
			flex-wrap: inherit;
			padding: 0 30px;
		}

		.nav-fill .nav-item {
			text-align: left;
			text-transform: uppercase;
			margin: 0 5px;
			font-size: 12px;
			margin-right: 16px;
		}
	</style>
	@* button style *@
	<style>
		.btn-orange {
			background-color: orange;
			color: #fff
		}

		.btn {
			border: 2px solid #edf5ff;
			/*color: #47759d; 
					background: #50C878;*/
			color: #023020;
			font-weight: bold;
			font-size: 14px;
			margin-right: 10px;
		}

		.btn:hover {
			background: #099969;
			border: 2px solid #ff007a;
			color: #fff;
			font-weight: bold;
			font-size: 14px;
			/*          
				background: #ff007a;
				margin-right: 10px;
				*/
			box-shadow: 0px 10px 19px 0px #ff007a66 !important;
		}
	</style>

	@* widget side bar style *@
	<style>
		.widget {
			box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
			border-radius: 5px;
			overflow: hidden;
			background: #ffffff;
			margin-top: 15px;
			margin-bottom: 15px;
			width: 100%;
			display: inline-block;
			vertical-align: top;
		}

		.widget-body {
			padding: 15px;
		}

		.widget-title {
			padding: 15px;
			border-bottom: 1px solid #eee;
		}

		.widget-title h3 {
			font-size: 20px;
			font-weight: 700;
			color: #fc5356;
			margin: 0;
		}

		.widget-author .media {
			margin-bottom: 15px;
		}

		.widget-author p {
			font-size: 16px;
			margin: 0;
		}

		.widget-author .avatar {
			width: 70px;
			height: 70px;
			border-radius: 50%;
			overflow: hidden;
		}

		.widget-author h6 {
			font-weight: 600;
			color: #20247b;
			font-size: 22px;
			margin: 0;
			padding-left: 20px;
		}
	</style>

	@* input and textarea style *@
	<style>
		textarea,
		input,
		select {
			border: none !important;
			border-bottom: 1px solid #20247b !important;
			border-radius: 0 !important;
			padding-left: 0 !important;
			box-shadow: none !important;
		}

		textarea:focus,
		input:focus,
		select:focus {
			border-bottom: 1px solid #fc5356 !important;
		}

		textarea.invalid,
		input.invalid,
		select.invalid {
			border-bottom: 1px solid #ff0000 !important;
		}
	</style>
	@* section style *@
	<style>
		section {
			border: none;
			background-color: #f7f2f2 !important;
			box-shadow: none;
		}

		section:hover,
		section.active {
			border: 1px solid transparent;
			-webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
			-moz-box-shadow: 0 3px 7px 0 #a8a8a8;
			box-shadow: 0 3px 7px 0 #a8a8a8;
		}
	</style>
	@* Submit style button *@
	<style>
		.section-title h2 {
			font-weight: 700;
			color: #20247b;
			font-size: 45px;
			margin: 0 0 15px;
			border-left: 5px solid #fc5356;
			padding-left: 15px;
		}

		.section-title {
			padding-bottom: 45px;
		}


		.px-btn {
			padding: 0 50px 0 20px;
			line-height: 60px;
			position: relative;
			display: inline-block;
			color: #20247b;
			background: none;
			border: none;
		}

		.px-btn:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			border-radius: 30px;
			background: transparent;
			border: 1px solid rgba(252, 83, 86, 0.6);
			border-right: 1px solid transparent;
			-moz-transition: ease all 0.35s;
			-o-transition: ease all 0.35s;
			-webkit-transition: ease all 0.35s;
			transition: ease all 0.35s;
			width: 60px;
			height: 60px;
		}

		.px-btn .arrow {
			width: 13px;
			height: 2px;
			background: currentColor;
			display: inline-block;
			position: absolute;
			top: 0;
			bottom: 0;
			margin: auto;
			right: 25px;
		}

		.px-btn .arrow:after {
			width: 8px;
			height: 8px;
			border-right: 2px solid currentColor;
			border-top: 2px solid currentColor;
			content: "";
			position: absolute;
			top: -3px;
			right: 0;
			display: inline-block;
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	</style>
	<style>
		.date {
			font-size: 11px
		}

		.comment-text {
			font-size: 12px
		}

		.fs-12 {
			font-size: 12px
		}

		.shadow-none {
			box-shadow: none
		}

		.name {
			color: #007bff
		}

		.cursor:hover {
			color: blue
		}

		.cursor {
			cursor: pointer
		}
	</style>
	@* post *@
	<style>
		/* Blog ---------------------*/

		.blog-grid {
			box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
			border-radius: 5px;
			overflow: hidden;
			background: #ffffff;
			margin-top: 15px;
			margin-bottom: 15px;
		}

		.blog-grid .blog-img {
			position: relative;
		}

		.blog-grid .blog-img .date {
			position: absolute;
			background: #fc5356;
			color: #ffffff;
			padding: 8px 15px;
			left: 10px;
			top: 10px;
			border-radius: 4px;
		}

		.blog-grid .blog-img .date span {
			font-size: 22px;
			display: block;
			line-height: 22px;
			font-weight: 700;
		}

		.blog-grid .blog-img .date label {
			font-size: 14px;
			margin: 0;
		}

		.blog-grid .blog-info {
			padding: 20px;
		}

		.blog-grid .blog-info h5 {
			font-size: 22px;
			font-weight: 700;
			margin: 0 0 10px;
		}

		.blog-grid .blog-info h5 a {
			color: #20247b;
		}

		.blog-grid .blog-info p {
			margin: 0;
		}

		.blog-grid .blog-info .btn-bar {
			margin-top: 20px;
		}


		/* Blog Sidebar
			-------------------*/


		.post-aside {
			margin-bottom: 15px;
		}

		.post-aside .post-aside-title h5 {
			margin: 0;
		}

		.post-aside .post-aside-title a {
			font-size: 18px;
			color: #20247b;
			font-weight: 600;
		}

		.post-aside .post-aside-meta {
			padding-bottom: 10px;
		}

		.post-aside .post-aside-meta a {
			color: #6F8BA4;
			font-size: 12px;
			text-transform: uppercase;
			display: inline-block;
			margin-right: 10px;
		}

		.latest-post-aside+.latest-post-aside {
			border-top: 1px solid #eee;
			padding-top: 15px;
			margin-top: 15px;
		}

		.latest-post-aside .lpa-right {
			width: 90px;
		}

		.latest-post-aside .lpa-right img {
			border-radius: 3px;
		}

		.latest-post-aside .lpa-left {
			padding-right: 15px;
		}

		.latest-post-aside .lpa-title h5 {
			margin: 0;
			font-size: 15px;
		}

		.latest-post-aside .lpa-title a {
			color: #20247b;
			font-weight: 600;
		}

		.latest-post-aside .lpa-meta a {
			color: #6F8BA4;
			font-size: 12px;
			text-transform: uppercase;
			display: inline-block;
			margin-right: 10px;
		}

		.tag-cloud a {
			padding: 4px 15px;
			font-size: 13px;
			color: #ffffff;
			background: #20247b;
			border-radius: 3px;
			margin-right: 4px;
			margin-bottom: 4px;
		}

		.tag-cloud a:hover {
			background: #fc5356;
		}

		.blog-single {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		article {
			box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
			border-radius: 5px;
			overflow: hidden;
			background: #ffffff;
			padding: 15px;
			margin: 15px 0 30px;
		}

		.article .article-title {
			padding: 15px 0 20px;
		}

		.article .article-title h6 {
			font-size: 14px;
			font-weight: 700;
			margin-bottom: 20px;
		}

		.article .article-title h6 a {
			text-transform: uppercase;
			color: #fc5356;
			border-bottom: 1px solid #fc5356;
		}

		.article .article-title h2 {
			color: #20247b;
			font-weight: 600;
		}

		.article .article-title .media {
			padding-top: 15px;
			border-bottom: 1px dashed #ddd;
			padding-bottom: 20px;
		}

		.article .article-title .media .avatar {
			width: 45px;
			height: 45px;
			border-radius: 50%;
			overflow: hidden;
		}

		.article .article-title .media .media-body {
			padding-left: 8px;
		}

		.article .article-title .media .media-body label {
			font-weight: 600;
			color: #fc5356;
			margin: 0;
		}

		.article .article-title .media .media-body span {
			display: block;
			font-size: 12px;
		}

		.article .article-content h1,
		.article .article-content h2,
		.article .article-content h3,
		.article .article-content h4,
		.article .article-content h5,
		.article .article-content h6 {
			color: #20247b;
			font-weight: 600;
			margin-bottom: 15px;
		}

		.article .article-content blockquote {
			max-width: 600px;
			padding: 15px 0 30px 0;
			margin: 0;
		}

		.article .article-content blockquote p {
			font-size: 20px;
			font-weight: 500;
			color: #fc5356;
			margin: 0;
		}

		.article .article-content blockquote .blockquote-footer {
			color: #20247b;
			font-size: 16px;
		}

		.article .article-content blockquote .blockquote-footer cite {
			font-weight: 600;
		}

		.article .tag-cloud {
			padding-top: 10px;
		}

		.article-comment {
			box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
			border-radius: 5px;
			overflow: hidden;
			background: #ffffff;
			padding: 20px;
		}

		h4 {
			color: #20247b;
			font-weight: 700;
			margin-bottom: 25px;
			font-size: 22px;
		}
	</style>
@*		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
		<script src='https://cdn.tiny.cloud/1/q7mmvesyzvp84xhdfqw24ecysg36uipj9foc2wjo6w3l4puh/tinymce/5/tinymce.min.js' referrerpolicy="origin">
  </script>*@
  <script>
    tinymce.init({
      selector: '#mytextarea'
    });
  </script>
</head>

<body>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
		<partial name="_Header" />
	</nav>
	<main class="main row">
		<aside id="leftSide" class="leftSide col-12">
			<partial name="_Sidebar" />
			<footer class="border-top footer text-muted">
				<partial name="_Footer" />
			</footer>
		</aside>
		<div class="middleSide col">
			<div class="middleSideContainer container"> @RenderBody() </div>
		</div>
		<aside class="rightSide border-right col-32">
			<partial name="_SidebarRight" />
		</aside>
	</main>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
	<!-- Select2 JS -->
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>

	<script>
		// inline the data
		$(document).ready(function () {
			$.ajax({
				type: 'GET',
				url: '/Weather/WeatherTask/',
				success: function (data) {
					$('#weather').html(data);
				}
			})
		})
		$(document).ready(function () {
			$.ajax({
				type: 'GET',
				url: '/Categories/CategoriesTask',
				success: function (data) {
					$('#categories').html(data);
				}
			})
		})
	</script>
	<script>
		var addToCartUrl = "@Url.Action("AddtoCart", "CartItems")";
		function addToCart(id) {
			//e.preventDefault();
			// make ajax request
			console.log(id)
			$.ajax({
				url: addToCartUrl,
				data: {
					id: id
				},
				success: function (response) {
					$('#Cart').html(response);
				}
			});
			$.ajax({
				url: "@Url.Action("AddtoCarttttttt", "CartItems")",
				data: {
					id: id
				},
				success: function (response) {
					jsonCartItemsResponse = eval(response)
					numberOfCartItems = jsonCartItemsResponse.length
					//Total Subtotal Subtotal
					var cartBadge = document.getElementById("cartBadge");
					cartBadge.innerHTML = numberOfCartItems + 1


		

				}
			});
		}
		 

	</script>
	<script>

  
	const shareBtn = document.querySelector('.share-btn');
    const shareOptions = document.querySelector('.share-options');

    shareBtn.addEventListener('click', () => {
        shareOptions.classList.toggle('active');
    })

      
    function CopyShare(id) {
      var shareLink = document.getElementById("ShareLink-"id).value
      shareLink.select();
      //shareLink.setSelectionRange(0, 99999); /* For mobile devices */

       /* Copy the text inside the text field */
      navigator.clipboard.writeText(shareLink.value);

      /* Alert the copied text */
      alert("Copied the text: " + shareLink.value);
    }
    function getComments(id,commentParent) {
       var comment = document.getElementById("comment-"id).value
       $.ajax({
            type: 'GET',
            url: 'Comments/Comment/',
            data: { "id": id,"commentParent": commentParent},
            dataType: 'text',
            success: function (data) {
                $('#'+id).$('commentTable').html(data);
            }
        })
    }
    function creatComment(id,commentParent) {
       var comment = document.getElementById("comment-"id).value
       $.ajax({
            type: 'GET',
            url: 'Comments/createComment/',
            data: { "id": id,"commentParent": commentParent,"comment",comment },
            dataType: 'text',
            success: function (data) {
                $('#'+id).$('commentTable').html(data);
            }
        })
    }
    
    });
	</script>
	@await RenderSectionAsync("Scripts", required: false)

</body>

</html>