@model IEnumerable<Neetechs.Model.Product>

@{
    ViewData["Title"] = "Products List";
}
<form asp-controler="Products" asp-action="Index">
    <p>Search for brand</p>
    <input type="text" name="search" onkeyup="searchProducts(value)"/>
@*    <input type="submit" name="search" />
*@</form>
<table id="productSearchTable" class="table">

</table>
<div class="justify-content-center text-center" style="position: fixed;bottom:0px; right:25%;">
    <a asp-action="Create" class="btn ">Add Product  +</a>
</div>

<script>
    window.onload = function (){
        searchProducts()
    }
    function searchProducts(value){
        $.ajax({
            type:'GET',
            url:'/Products/Search/',
            data:{"search": value},
            dataType:'text',
            success:function(data){
                $('#productSearchTable').html(data);
            }

        })
    }
 </Script>