@model IEnumerable<Neetechs.Model.Product>

@{
    ViewData["Title"] = "Products List";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controler="Products" asp-action="Index">
    <p>Search for brand</p>
    <input type="text" name="search" onkeyup="searchProducts(value)"/>
@*    <input type="submit" name="search" />
*@</form>
<table id="productSearchTable" class="table">

</table>
<script>
    window.onload = function (){
        searchProducts()
    }
    function searchProducts(value){
        $.ajax({
            type:'GET',
            url:'/Products/Search/',
            data:{"search": value},
            dataType:'text',
            success:function(data){
                $('#productSearchTable').html(data);
            }

        })
    }
</script>
