/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-0kq51rga60] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-0kq51rga60] {
  color: #0077cc;
}

.btn-primary[b-0kq51rga60] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-0kq51rga60], .nav-pills .show > .nav-link[b-0kq51rga60] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-0kq51rga60] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-0kq51rga60] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-0kq51rga60] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-0kq51rga60] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-0kq51rga60] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
.rightSide[b-0kq51rga60] {

    width: 25%;
}
.leftSide[b-0kq51rga60] {
    width: 25%;
}

.container[b-0kq51rga60] {
    float: left;
    width: 50%;
}
.b-example-divider[b-0kq51rga60] {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}



/*extra*/
body[b-0kq51rga60] {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

html[b-0kq51rga60] {
    height: -webkit-fill-available;
}

main[b-0kq51rga60] {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.b-example-divider[b-0kq51rga60] {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi[b-0kq51rga60] {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle[b-0kq51rga60] {
    outline: 0;
}

.nav-flush .nav-link[b-0kq51rga60] {
    border-radius: 0;
}

.btn-toggle[b-0kq51rga60] {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}

    .btn-toggle:hover[b-0kq51rga60],
    .btn-toggle:focus[b-0kq51rga60] {
        color: rgba(0, 0, 0, .85);
        background-color: #d2f4ea;
    }

    .btn-toggle[b-0kq51rga60]::before {
        width: 1.25em;
        line-height: 0;
        content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
        transition: transform .35s ease;
        transform-origin: .5em 50%;
    }

    .btn-toggle[aria-expanded="true"][b-0kq51rga60] {
        color: rgba(0, 0, 0, .85);
    }

        .btn-toggle[aria-expanded="true"][b-0kq51rga60]::before {
            transform: rotate(90deg);
        }

.btn-toggle-nav a[b-0kq51rga60] {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

    .btn-toggle-nav a:hover[b-0kq51rga60],
    .btn-toggle-nav a:focus[b-0kq51rga60] {
        background-color: #d2f4ea;
    }

.scrollarea[b-0kq51rga60] {
    overflow-y: auto;
}

.fw-semibold[b-0kq51rga60] {
    font-weight: 600;
}

.lh-tight[b-0kq51rga60] {
    line-height: 1.25;
}