@model IEnumerable<Neetechs_MVC.Models.Post>

@{
    ViewData["Title"] = "Article";
}

<div class="container" style="max-width:750px">


@*<section class="panel  timeline-post-to">
    <div class="panel-body">
        <form role="form">
            <textarea class="form-control" placeholder="What's on your mind?"></textarea>
            <div class="row">
                <div class="col-sm-6">
                    <a class="btn btn-sm btn-default"><i class="fa fa-camera"></i></a>
                    <a class="btn btn-sm btn-default"><i class="fa fa-video-camera"></i></a>
                    <a class="btn btn-sm btn-default"><i class="fa fa-music"></i></a>
                    <a class="btn btn-sm btn-default"><i class="fa fa-map-marker"></i></a>
                </div>
                <div class="col-sm-6 text-right">
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </div>
        </form>
    </div>
</section>*@

<article id="postSearchTable" class="table" >
</article>
</div>
<div class="justify-content-center text-center" style="position: fixed;bottom:0px; right:25%;">
    <a asp-action="Create" class="btn ">Add a post +</a>
</div>

<script>
    window.onload = function () {
        searchProducts()
    }
    function searchProducts(value) {
        $.ajax({
            type: 'GET',
            url: '/Posts/Search/',
            data: { "search": value },
            dataType: 'text',
            success: function (data) {
                $('#postSearchTable').html(data);
            }

        })
    }
</Script>


